<table>
  <tbody>
    <tr>
      <th><%= l('redmine_special_days.default_calendar_name') %></th>
      <td><input  type="text"
                  id="settings_default_calendar_name"
                  value="<%= settings['default_calendar_name'] %>"
                  name="settings[default_calendar_name]" >
    </tr>
  </tbody>
</table>