.pretty_calendar {
  margin: auto;
}

.month-name th {
  font-weight: normal;
  text-align: right;
  padding-top: 1em;
  padding-bottom: 0.7em;
}

.day-names th {
  font-size: 0.7em;
  padding-top: 0.6em;
  padding-bottom: 0.3em;
  background-color: #303030;
  color: white;
}

.cal-footer th {
  font-size: 0.9em;
  padding-top: 0.3em;
  padding-bottom: 0.6em;
  background-color: #303030;
}

.cal-footer th a {
  color: white;
}

.title-row a:hover {
  text-decoration: none;
}

.cal-footer th a:hover {
  text-decoration: none;
  color: white;
}

.cal-footer th a:hover:before {
  content: '<<';
}

.cal-footer th a:hover:after {
  content: '>>';
}

.day {
  padding: 0.7em 1em;
  border-right: 1px solid #F2F2F2;
  text-align: center;
}

.today {
  border: 3px solid #307769;
}

.not-in-month {
  color: #AAAAAA;
  background-color: #F2F2F2;
}

.calendar-year-months {
  width: 670px;
  margin: 10px;
  padding-top: 25px;
}

.calendar-year-month {
  width: 310px;
  float: left;
}

td.special-day-date {
  width: 70px;
}

td.special-day-date input {
  width: 70px;
}

td.special-day-description {
}

td.special-day-day-type {
}

td.special-day-destroy {
}

table#special-days-table {
  width: 90%;
}