<div class="splitcontentleft">
  <div class="issues box">

  </div>
</div>

<div class="splitcontentright">
  <div class="issues box">
    <%= render 'pretty_calendar_month', :calendar => @pocket_calendar,
                                        :year => Date.today.year,
                                        :month => Date.today.month,
                                        :options => {:div_id => 'special-days-manager'} %>
  </div>
</div>