<div class="splitcontentleft">
  <div class="issues box">
    <div id="cal-overview">
      <%= render 'cal_overview', :calendar => @pocket_calendar %>
    </div>
  </div>
</div>

<div class="splitcontentright">
  <div class="issues box">
    <div id="yearly-cal">
      <%= render 'pretty_calendar_year',  :calendar => @pocket_calendar,
                                          :year => Date.today.year %>
    </div>
  </div>
</div>