<div class="splitcontentleft">
  <div class="issues box"><%= special_days_overview @pocket_calendar %></div>
</div>

<div class="splitcontentright">
  <div class="issues box">
    <%= render 'pretty_calendar_month', :calendar => @pocket_calendar,
                                        :year => Date.today.year,
                                        :month => Date.today.month %>
  </div>
</div>