<h2><%= l('redmine_special_days.calendar_overview') %></h2>

<div class="splitcontentleft">
  <div class="issues box">Overview - all holidays in year</div>
</div>

<div class="splitcontentright">
  <div class="issues box">Pretty current month</div>
</div>